
@model IEnumerable<NewAuthCustomAccountTestEnv.Models.LeaderboardModel>
@{
    ViewData["Title"] = "LeaderBoard";
}


<script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>


<label id="latest-update-label">latest sync:</label>
<a id="refreshbutton"><img src="Images/refresh-page-option.png" ></img></a>

<table class="table">
    <thead>
        <tr>
            <th>
                nr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderboardUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coins)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = 0;
            foreach (var item in Model)
            {
                i++;
                switch (i)
                {
                    case 1:
                        <tr style="color: #ADA200">
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaderboardUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coins)
                            </td>

                        </tr>
                        break;
                        case 2:
                        <tr style="color: #828282">
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaderboardUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coins)
                            </td>

                        </tr>
                        break;
                        case 3:
                        <tr style="color: #AF7046">
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaderboardUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coins)
                            </td>

                        </tr>
                        break;
                        default:
                        <tr style="color :black">
                            <td>
                                @Html.DisplayFor(modelItem => item.Position)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaderboardUserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Coins)
                            </td>

                        </tr>
                        break;
                } 
            }
        }
    </tbody>
</table>


<script src="~/js/LeaderBoard.js" asp-append-version="true"></script>
