
@model IEnumerable<NewAuthCustomAccountTestEnv.Models.LeaderboardModel>
@{
    ViewData["Title"] = "LeaderBoard";
}

    
<script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
<script src="~/js/LeaderBoard.js" asp-append-version="true"></script>

<label id="latest-update-label" >latest sync:</label>

<table class="table">
    <thead>
        <tr>
            <th>
                nr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaderboardUserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coins)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Position)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeaderboardUserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Coins)
                    </td>
                    
                </tr>
            }
        }
    </tbody>
</table>


