@model NewAuthCustomAccountTestEnv.Models.UserModel

@{
    ViewData["Title"] = "UserDetails";
}

<h1>UserManagerDetails</h1>

<div>
    <h4>UserModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coins)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coins)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsAdmin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Failedloginattempts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Failedloginattempts)
        </dd>
    </dl>
</div>
<div>
    <a asp-area="Identity" asp-action="UserManagementIndex" asp-controller="AdminUser">Back to List</a>
</div>
