@using Microsoft.AspNetCore.Identity
@using NewAuthCustomAccountTestEnv.Data;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model NewAuthCustomAccountTestEnv.Models.GameModel
@{
    ViewData["Title"] = "Adventure Time" ;
}

<link rel="stylesheet" href="~/css/Game.css" asp-append-version="true" />
@if (!SignInManager.IsSignedIn(User))
{
    <h1>log opnieuw in!</h1>
} else {
    ApplicationUser? user = null;
    if(User != null){


        user = await UserManager.GetUserAsync(User);
    }
    if (user != null){
        @if (Model != null)
        { <div class="game-layout">
            @if (Model.CoinsEarned <= 999 && Model.CoinsEarned > 0)
            {
                <div id="payoutbanner" class="coinsearnedbanner"><h1>Je hebt: @Model.CoinsEarned <img src="~/Images/dollar.png"/> verdiend!</h1></div>
            }
            else if ( Model.CoinsEarned > 0)
            {
                <div id="payoutbanner" class="coinsearnedbanner"><h1>JACKPOT: @Model.CoinsEarned <img src="~/Images/Cursed_Coins_Gem.png" />!</h1></div>

            }
            else
            {
                <div id="payoutbanner" class="coinsearnedbanner"></div>
            }
            
            <div class="game-container">
                
                <div class="door-container">
            <div class="door">
                        <div class="scroller" id="scroller1">
                            <span>
                                <img src="~/Images/dollar.png"/> <br/>
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <image src="@Model.Image1"></image>
                            </span>
                        </div>
                        <image id="result1" class="doorresult" src="@Model.Image1"></image>
                    
                    
            </div>
            <div class="door">
                        <div class="scroller" id="scroller2">
                            <span>
                                <img src="~/Images/dollar.png" /> <br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <image src="@Model.Image2"></image>
                            </span>
                        </div>
                        <image id="result2" class="doorresult" src="@Model.Image2"></image>
                    
            </div>
            <div class="door">
                        <div class="scroller" id="scroller3">
                            <span>
                                <img src="~/Images/dollar.png" /> <br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <img src="~/Images/dollar.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/Cursed_Coins_Curse.png" /><br />
                                <img src="~/Images/chicken-leg.png" /><br />
                                <img src="~/Images/Cursed_Coins_Gem.png" /><br />
                                <img src="~/Images/storm.png" /><br />
                                <img src="~/Images/fish.png" /><br />
                                <img src="~/Images/pirate-ship.png" /><br />
                                <image src="@Model.Image3"></image>
                            </span>
                        </div>
                        <image class="doorresult" id="result3" src="@Model.Image3"></image>
                    
            </div>
                </div>
        </div>
          
        
        
            @{
                if (UserManager.GetUserAsync(User).Result.Coins > 0)
            {
                
            
            <form id="gameform"method="post" asp-controller="Game" asp-action="CoinUp">
       
        <input id="username" type="hidden" name="username" value="@user.UserName"/>

            <button id="submitbutton" type="submit" value="Coin Up"><img src="~/Images/pirate-ship.png" alt="sail" /></button>
    </form>
            }
            }
            </div>
        <script src="~/js/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        <script src="~/js/Game.js" asp-append-version="true"></script>
        
        }  
   }
   <div class="payoutinfo">

        <table class="Payout_Table">
                            <thead>
                <tr>
                                    
                                    <th>
                                        Requirements
                                    </th>
                                    <th>
                                        Payout:   
                                    </th>
                                    
                                </tr>
                            </thead>
                            <tfoot>
                <tr>
                    <td>
                        *for each<img src="~/Images/dollar.png" />
                    </td>
                    <td>+ 1 coin*</td>
                </tr>
                            </tfoot>
       <tbody >
                <tr >
                            <td>
                        <img src="~/Images/dollar.png" /><img src="~/Images/dollar.png" /><img src="~/Images/dollar.png" />
                            </td>
                                <td>
                                   5
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/Cursed_Coins_Curse.png" /><img src="~/Images/Cursed_Coins_Curse.png" /><img src="~/Images/Cursed_Coins_Curse.png" />
                            </td>
                                <td>
                                   lose all but 1 coins
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/chicken-leg.png" /><img src="~/Images/chicken-leg.png" /><img src="~/Images/chicken-leg.png" />
                            </td>
                                <td>
                                   10
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/fish.png" /><img src="~/Images/fish.png" /><img src="~/Images/fish.png" />
                            </td>
                                <td>
                                   10
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/pirate-ship.png" /> <img src="~/Images/pirate-ship.png" /> <img src="~/Images/pirate-ship.png" />
                            </td>
                                <td>
                                   -20
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/storm.png" /> <img src="~/Images/storm.png" /> <img src="~/Images/storm.png" />
                            </td>
                                <td>
                                   50
                                </td>
                            
                        </tr>
                <tr>
                            <td>
                        <img src="~/Images/Cursed_Coins_Gem.png" /> <img src="~/Images/Cursed_Coins_Gem.png" /> <img src="~/Images/Cursed_Coins_Gem.png" />
                            </td>
                                <td>
                                   jackpot
                                </td>
                            
                </tr>
                
                
            </tbody>
           
                
            

        </table>
                    
                </div>
}